/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');

.input-timer {
  margin-top: 20px;
  width: 285px;
  height: 40px;
  border-radius: 4px;
}
.input-timer:hover {
  border-color: rgba(108, 140, 255, 1);
}
.start-timer-btn {
  width: 75px;
  height: 45px;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  color: rgba(255, 255, 255, 1);
  background: rgba(78, 117, 255, 1);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.start-timer-btn:hover,
.start-timer-btn:focus {
  background: rgba(108, 140, 255, 1);
}
.start-timer-btn:disabled {
  background: rgba(207, 207, 207, 1);
  color: rgba(46, 47, 66, 1);
}
.timer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.timer.active {
  margin-left: 600px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

  animation: pulse 10s infinite;
  font-size: 40px;
  font-weight: 400;
  color: rgba(46, 47, 66, 1);
  width: 55px;
  height: 48px;
  gap: 10px;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.field {
  display: flex;
  flex-direction: column;
}
.value {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(46, 47, 66, 1);
  width: 55px;
  height: 48px;
  gap: 0px;
  opacity: 0px;
}
.label {
  width: 76px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(46, 47, 66, 1);
  text-transform: uppercase;
}
